# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Files
.env

# VS Code
.vscode/

# Models
models/*.pth

# Data Files
data/*.pt

# Results
results/*.png

# OS Files
.DS_Store
Thumbs.db